.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.content {
  flex: 1;  /* Takes up remaining space */
  overflow-y: auto; /* Makes the content scrollable */
  padding: 20px;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* TabBar styles */
.ant-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f428;
  color: antiquewhite;
}

.ant-tab-bar-item {
  font-size: 20px;
  color: #777;
}

.ant-tab-bar-item-selected {
  color: #1890ff;  /* Highlight color for selected tab */
}

/* Button styles */
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #1890ff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #40a9ff;
}

/* Tab content styles */
.container p {
  font-size:15px;
  color: #333;
  margin-bottom: 20px;
}

/* For logo animation (optional) */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Header section */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}